@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 20px;
}

.full-screen {
  padding: 8rem 0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover {
  color: #ffc200 !important;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #5b5b5b;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}

/* Nav Bar */
.navbar {
  position: absolute;
  top: 0;
  right: 50;
  left: 0;
  z-index: 99;
  padding-top: 1rem;
  will-change: transform;
  transition: transform 200ms linear;
}

.navbar-brand {
  font-weight: 600;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}

.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}

.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

/* Buttons */
.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 16px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  color: #ffc200;
}
.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #ffc200;
  color: #ffffff !important;
}

/* Animated Items */
.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 260px;
  position: relative;
}

.animated-item {
  color: #ffc200;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Home */
.home {
  width: 100vw;
  max-width: 2160px;
}

.info-left {
  width: 80vw;
}

.info-right {
  width: 80vw;
}

.creator-img {
  width: 425px;
  height: 425px;
  border: 8px solid #ffc200;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.project {
  margin-top: 1rem;
}


.project h2 {
  margin-bottom: 1rem;
}

.project-info p {
  font-weight: 600;
}

/* Footer */
.footer p {
  font-size: 18px;
  font-weight: 550;
  display: block;
}

.footer img {
  width: 2rem;
  height: 2rem;
  margin: 0 4px;
  opacity: 0.7;
}

.project .site > img {
  border: #989898 1px solid;
  box-shadow:#d4d4d4 0px 0px 8px 3px;
}

/* About Me */
.about {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 0 16%;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-img {
  background: none;
  border:#ffc200 0.4rem solid;
  height: 15rem;
  width: 25rem;
  border-radius: 10px;
  position: absolute;

  transform: translatex(-20px);
}

.img img {
  width: 460px;
  transform: translateY(-200px);
  border:#ffc200 0.4rem solid;
  border-radius: 10px;
}

.text h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
  position: relative;
}

.text h1::after{
  position: absolute;
  content: "";
  width: 20%;
  height: 4px;
  background-color: #f39c12;
  left: 0;
  bottom: -2px;
}

.text p {
  font-size: 1rem;
  color:#000;
  line-height: 2rem;
  margin: 30px 0 35px 0;
  max-width: 500px;
}

/* Media Queries */
@media (min-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }
}
@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }

  .color-mode {
    display: none;
  }

  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }

  .contact-info {
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  .animated-item {
    font-size: 28px;
  }

  .navbar-collapse {
    background: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }
}
@media (max-width: 580px) {
	.animated-info {
		min-width: 200px;
	}
  .animated-item {
    font-size: 30px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }

  .owl-theme .owl-nav {
    display: none;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .about-text {
    text-align: center;
  }

  .full-screen {
    padding: 4rem 0;
  }

  .mobile-block {
    display: block;
  }

  .contact-info {
    flex-direction: column;
  }

  .social-links li {
    display: inline-block;
    vertical-align: top;
  }
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

 .owl-theme .owl-dots,.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
  margin-top: 1rem;
}

.owl-theme .owl-nav [class*=owl-] {
  color:#FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background:#D6D6D6;
  display:inline-block;
  cursor:pointer;
  border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background:#869791;
  color:#FFF;
  text-decoration:none
}

.owl-theme .owl-nav {
  opacity: 0.5;
  cursor: default
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px 
}

.owl-theme .owl-dots .owl-dot {
  display:inline-block;
  zoom: 1; 
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 8px 7px;
  background:#D6D6D6;
  display:block;
  -webkit-backface-visibility: visible;
  transition:opacity .2s ease;
  border-radius: 30px 
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span {
  background:#869791;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
 .owl-carousel,.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
}

.owl-carousel .owl-stage:after {
  content:".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}

.owl-carousel .owl-item,.owl-carousel .owl-wrapper {
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  -ms-transform:translate3d(0,0,0);
}

.owl-carousel .owl-item {
  min-height: 5px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 800px;
  height: 350px;
}
.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel,.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action:pan-y;
  touch-action: pan-y;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: left;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0%{opacity:1}
  100%{opacity:0}
}